<div id="container">
    <div id="box">
        <table class="table table-responsive">
            <thead>
                <tr style="background-color:rgb(139, 155, 227);">
                    <th>Paciente</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Especialista</th>
                    <th>Especialidad</th>
                    <th>Estado</th>
                    <th>Acción</th>
                
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let turno of listadoTurnos">
                    <td>{{turno.paciente[1]}}</td>
                    <td>{{turno.fecha}}</td>
                    <td>{{turno.hora}}:00</td>
                    <td>{{turno.especialista[1]}}</td>
                    <td>{{turno.especialidad}}</td>
                    <td>{{turno.estado}}</td>
                    <td><button type="button" class="btn btn-success  btn-circle" (click)="eligeTurno(turno)">info<i class="fa fa-check"></i> </button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

