#box{
margin-top: -100px;
}

#barra{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}


#btnBuscar{
    width: 80px;
    border-radius: 5px;
    margin-left: 5px;
}

input{
    width: 260px;
    border-radius: 5px;
}