*{
    margin: 0;
    padding: 0;
}

#contenedor {
    width: 100%;
    height: 100vh;
    background: #8e9eab;
    background: -webkit-linear-gradient(to top, #eef2f3, #8e9eab);
    background: linear-gradient(to top, #eef2f3, #8e9eab);
    margin: 0px;
}

.container{
   width: 100%;
   margin-left: 10%;
}

.btnDescarga{
    background: rgb(23,189,58);
    background: radial-gradient(circle, rgba(23,189,58,1) 18%, rgba(23,189,58,1) 91%, rgba(81,127,164,1) 100%);
    border-radius:5px;
    border: none;
    padding: 5px;
    margin: 5px;
}

#form-alta{
    background-color: #33373b;
    border-radius: 10px;
}

img{
    width: 250px;
    height: 250px;
}

p{
    margin-top: 0.5em;
}

#setHistoria{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10;
    max-width:330px; 
    max-height:450px;
    margin-top: 6em;
    background-color: #53a9f0;
    border: 2px solid #52565a;
    border-radius: 10px;
    overflow: scroll;
  }


#btnCerrar{
    width: 40px;
    height: 40px;
    background: #b4cde1;
    margin-left: 290px;
}
