<div id="contenedor">

    <header>
        <div class="container py-2">
            <div class="p-0 mb-4 rounded-3">
                <div class="container-fluid py-3">
                    <div class="container">
                        <h1>Listado de usuarios</h1>
                        <app-listado-usuarios [listadoPacientes]="listadoPacientes" [listadoEsp]="listadoEsp">
                        </app-listado-usuarios>
                    </div>
                </div>
            </div>
        </div>
    </header>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-3">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Change the background</h2>
            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
            <button class="btn btn-outline-light" type="button">Example button</button>
          </div>
        </div>
        <div class="col-md-9" id="form-alta">
            <app-alta-admin></app-alta-admin>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-12">
            <app-registro id="registro"></app-registro>
        </div>
    
</div>