<div id="contenedor">
    <h2>INFORMES</h2>
    <br>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Ingresos en el sistema</h2>
                <app-graficos></app-graficos>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Turnos por especialidad</h2>
                <app-graficoespecialidad></app-graficoespecialidad>
            </div>
        </div>
    </div>
    <br>
    <div class="row align-items-md-stretch">
        <div class="col-md-4">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Turnos diarios</h2>
                <app-graficodiario></app-graficodiario>
            </div>
        </div>
        <div class="col-md-4">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Turnos solicitados</h2>
                <app-graficosolicitados></app-graficosolicitados>
            </div>
        </div>
        <div class="col-md-4">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>Turnos finalizados</h2>
                  <app-graficofinalizados></app-graficofinalizados>
            </div>
        </div>
    </div>
</div>