<div id="container">

    <mdb-carousel [isControls]="false" class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <img class="d-block w-100" src='../../../assets/carrousel1.png' alt="First slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src='../../../assets/carrousel2.png' alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src='../../../assets/carrousel3.png' alt="Third slide">
      </mdb-carousel-item>
    </mdb-carousel>
  
  </div>
